@import '../components.css';


.section{
    padding: .5rem 0;
    background: linear-gradient(220deg, rgba(189,0,255,1) 10%, rgba(0,163,255,1) 90%);
  }
  
  .card {
    max-width: inherit;
    background: hsl(0, 0%, 6%);
    background-size: cover;
    background-blend-mode: darken;
    background-position: 20px;
    padding: 2rem 2rem;
    margin: 5px;
    border-radius: 13px;
    transition: transform 0.4s ease;
  }
  
  .card-top {
    display: flex;
  }
  
  .card-title {
    font-size: 1.5rem;
    color: var(--clr-accent);
    font-family: var(--ff-primary);
    line-height: 1rem;
    margin-bottom: 1rem;
  }
  
  .card__body {
    font-size: 1rem;
    padding-bottom: 1rem;
    padding: 0;
  }
  
  .card__body_title {
    font-size: 1rem;
    color: #fff;
    font-family: var(--ff-primary);
    padding: 1px;
  }

  .card__body_text {
    font-size: 1rem;
    color: #fff;
    font-family: var(--ff-secondary);
    padding: 1px;
  }
  
  .card:hover {
    transform: translateY(-7px);
    -webkit-box-shadow: 1px 4px 15px 2px rgba(0, 0, 0, 0.26);
    box-shadow: 1px 4px 15px 2px rgba(0, 0, 0, 0.26);
  }
  
  .card {
    text-decoration: none;
    transition: 0.3s ease;
  }
  
  .card {
    transition: 0.2s ease-in-out;
  }
  
  .card:hover  {
    transform: translateX(10px);
  }
  
  a {
    text-decoration: none;
  }