@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Roboto:wght@100;400;500&display=swap');

:root {
    --ff-primary: 'Nunito', sans-serif;
    --ff-secondary: 'Roboto', sans-serif;
    --clr-font1: #000000;
    --clr-font2: #ffffff;
    --clr-accent: #f73859;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--clr-font2);
  /* background-color: var(--clr-main_bg); */
}

h2 {
  color: var(--clr-font1);
}
