@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Roboto:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');

:root {
    --ff-primary: 'Nunito', sans-serif;
    --ff-secondary: 'Roboto', sans-serif;
    --ff-italic: 'Sansita', sans-serif;
    --ff-bilbo: 'Bilbo Swash Caps', cursive;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-font1: #000000;
    --clr-font2: #ffffff;
    --clr-accent: #f73859;
    --clr-sub: #ededed;

}


.slider {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    height: 600px;
}
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: var(--clr-sub);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: var(--clr-sub);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
