/* Mini Map component */
.map__section {
  background: var(--clr-dark);
  padding: .5rem 0;
  display: flex;
}
  
.marker_btn {
  background: none;
  border: none;
  cursor: pointer;
}
  
.img_logo {
  height: 15px;
  color: var(--clr-dark);    
}
  
.pop_up {
  display: flex;
  width: 100%;
  height: 10px;
  justify-content: center;
}

.pop_up h3 {
  font-family: var(--ff-secondary);
  color: var(--clr-dark);
  font-size : 15px;
}
