.map__section {
  background: var(--clr-dark);
  padding: .5rem;
  display: flex;
}

.marker_btn {
  background: none;
  border: none;
  cursor: pointer;
}

.img_logo {
  height: 20px;
  color: var(--clr-dark);    
}

.pop_up {
  display: flex;
  flex-direction: column;
}
.pop_up h3 {
  font-family: var(--ff-secondary);
  color: var(--clr-dark);
  font-size: 1rem;
}
  